{% extends 'webapp/base.html' %}


{% block content %}
    <body>
        <br>
        <br>

        <div class="text-center">
            <h3>Welcome home {{user}}</h3>

            <br>

            <h5> What would you like to do? </h5>

            <hr>

            <br>

            <a class="btn btn-primary" type="button" href="{% url 'employee-records'%}"> Employee details &nbsp; <i class="fa fa-user-plus" aria-hidden="true"></i></a> <!-- user specific url needed-->
            <a class="btn btn-primary" type="button" href="{% url ''%}"> My tickets &nbsp; <i class="fa fa-ticket" aria-hidden="true"></i></a> <!-- user specific url needed-->
            <a class="btn btn-primary" type="button" href="{% url ''%}"> Create a ticket &nbsp; <i class="fa fa-plus" aria-hidden="true"></i></a> <!-- user specific url needed --> 
            <a class="btn btn-primary" type="button" href="{% url 'user-logout'%}"> Signout &nbsp; <i class="fa fa-sign-out" aria-hidden="true"></i></a> <!-- change button -->


        </div>

    </body>
{% endblock %}