{% extends 'webapp/base.html' %}

{% block content %}

    <h5> Welcome {{user}} </h5>
    
    <hr>
    
    <a class="btn btn-primary btn-sm" href="{% url 'create-ticket-record' %}">

        Hire equipment &nbsp; <i class="fa fa-plus-square-o" aria-hidden="true"></i>

    </a>

    <hr>
    
    <table class="table table-hover table-bordered">

        <thead class="table-light">

            <tr> 
                <th scope="col"> ID </th>
                <th scope="col"> Item </th>
                <th scope="col"> location use </th>
                <th scope="col"> Date hired </th>
                <th scope="col"> Date date_returned </th>
            </tr>
        </thead>

        <tbody>
        
        {% if Tickets %}

            {% for record in Tickets %}
            <tr>
                <td> {{Tickets.id}} </td>
                <td> {{Tickets.item}} </td>
                <td> {{Tickets.location_use}} </td>
                <td> {{Tickets.date_hired}} </td>
                <td> {{Tickets.date_returned}} </td>

                <th scope="col"> View </th>
                <td>
                    <a class="btn btn-success btn-sm" href="{%url 'record' record.id %}">
                        
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    
                    </a>
                </td>
            </tr>
            {% endfor %}    
        {% endif %}
        </tbody>

    </table>
{% endblock %}
