{% extends 'webapp/base.html' %}

{% block content %}

    <h5> Welcome {{user}} </h5>
    
    <hr>
    
    <a class="btn btn-primary btn-sm" href="{% url 'create-ticket-record' %}">

        Hire equipment &nbsp; <i class="fa fa-plus-square-o" aria-hidden="true"></i>

    </a>

    <hr>
    
    <table class="table table-hover table-bordered">

        <thead class="table-light">

            <tr> 
                <th scope="col"> ID </th>
                <th scope="col"> Item </th>
                <th scope="col"> location use </th>
                <th scope="col"> Date hired </th>
                <th scope="col"> Date date_returned </th>

                <th scope="col"> View </th>
            </tr>
        </thead>

        <tbody>
        
        {% if ticket_records|length > 1 %}
            {% for ticket_record in ticket_records %}
            <tr>
                <td> {{ticket_record.id}} </td>
                <td> {{ticket_record.item}} </td>
                <td> {{ticket_record.location_use}} </td>
                <td> {{ticket_record.date_hired}} </td>
                <td> {{ticket_record.date_returned}} </td>
                <td>
                    <a class="btn btn-success btn-sm" href="{%url 'view-ticket' ticket_record.id %}">
                        
                        <i class="fa fa-eye" aria-hidden="true"></i>
                    
                    </a>
                </td>
            </tr>
            {% endfor %}    
        {% endif %}
        </tbody>

    </table>
{% endblock %}
