.form-layout{
    border-radius: 15px;
    width: 500px;
    
}

.messages-text{
    color: azure;
}

/* Styling placeholder text */
input[type="text"]::placeholder {
    color: grey;
    font-style: italic;
}