{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}


{% block content %}

    <body>

        <div class="container bg-light shadow-md p-5 form-layout">

            <h3> Create record </h3>

            <h6> Fill in the required details. </h6>

            <hr>
            <br>

            <form method="POST" autocomplete="off">

                {% csrf_token %}

                {{form.item|as_crispy_field}}

                <br>

                {{form.location_use|as_crispy_field}}

                <br>

                {{form.date_hired|as_crispy_field}}

                <br>

                {{form.date_returned|as_crispy_field}}

                <br>
                
                <button type="submit" class="btn btn-primary"> 
                    
                    Create record &nbsp; <i class="fa fa-check" aria-hidden="true"></i>

                </button>

                &nbsp;

                <a href="{% url 'tickets' %}" class="btn btn-secondary"> 


                    Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i>

            </form>

        </div>

        <br>

    </body>

{% endblock %}



