{% extends 'webapp/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
    <body>
        <div class="container bg-light shadow-md p-5 form-layout">
            <h3> Create Ticket </h3>
            <h6> Fill in the required details. </h6>
            <hr>
            <br>

            <form method="POST" autocomplete="off">
                {% csrf_token %}
                {{ form.date_returned|as_crispy_field }}
                <button type="submit" class="btn btn-primary">
                    Create Ticket
                </button>
                &nbsp;
                <a href="{% url 'tickets' %}" class="btn btn-secondary">Return &nbsp; <i class="fa fa-arrow-left" aria-hidden="true"></i></a>
            </form>

            {% if form.errors %}
                <div class="alert alert-danger">
                    {{ form.errors }}
                </div>
            {% endif %}
        </div>
        <br>
    </body>
{% endblock %}
